<div class="faq">
  <ul>
    <% @faqs.each do |b|%>
        <li><%= link_to b.title,{:controller => "faqs",:action => "show",:id => "#{b.fid}", :format=>"html"} %>    <%= link_to "edit",{:controller => "faqs",:action => "edit",:id=>b.fid} %>  |  <%= link_to "destroy",{:controller => "faqs",:action => "destroy",:id=>b.fid},:method => 'delete' %></li>

    <% end %>
  </ul>
  <div class="pages">
    <%= paginate @faqs, :theme=>'long' %>
  </div>
</div>