# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d714e23ac961595dc3057f96e483491f1e9ebe303548d31b04f561f66d144284070ceea9be21e3ce8e9872ab58e4ed320c37e3157565dd5757b0f3f942c99754

test:
  secret_key_base: 3a496acd63ad1d9783f1f2296d3359d2a371e3b32b998c02ef7f58684ebe1880bea36abf530870f0622362719f6ea4a0bba8bcbc8a13d9b47281dc6b45b252b4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
#  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_base: 7246232e882c84626bcfd51ac4ddf4ac1ec6fdfeb7dcc3c28d0ab782d47222fb2e428d6913dc4714243c6831ba5f6d12a8b2ddad207aeb6897fc62f32cd06c28
