// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
//  background-color: #eee;
}

.new_user {
  margin-top: 100px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.new_user .new_user-heading,
.new_user .checkbox {
  margin-bottom: 10px;
}

.new_user .checkbox {
  font-weight: normal;
}

.new_user .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.new_user .form-control:focus {
  z-index: 2;
}

.new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
