<div class="category">
  <ul>
    <% @category.each do |b|%>
        <li><%= link_to b.title,"#{b.routename}.html" %>    <%= link_to "edit",{:controller => "categories",:action => "edit",:id=>b.cid} %>  |  <%= link_to "destroy",{:controller => "categories",:action => "destroy",:id=>b.cid},:method => 'delete' %></li>

    <% end %>
  </ul>
<%= paginate @category %>
</div>