<br />
<% Category.each_with_level(Category.root.self_and_descendants) do |c, level| %>
  <%= link_to "#{'--'*level}#{c.title}","#{c.routename}.html" %><br />
<% end %>
<div class="category">
  <ul>
    <% @categories.each do |b|%>
        <%= image_tag(b.img_url(:thumb)) if b.img? %>
        <li><%= link_to b.title,"#{b.routename}.html" %> </li>
    <% end %>
  </ul>
<%= paginate @categories %>
</div>