<div class="product">
  <ul>
    <% @products.each do |b|%>
        <li><%= link_to b.title,"/pt#{b.id}.html", :format=>"html" %>    <%= link_to "edit",{:controller => "products",:action => "edit",:id=>b.id} %>  |  <%= link_to "destroy",{:controller => "products",:action => "destroy",:id=>b.id},:method => 'delete' %></li>

    <% end %>
  </ul>
  <div class="pages">
    <%= paginate @products, :theme=>'long' %>
  </div>
</div>